{
    "projectBaseUrl":"https://github.com/nkrusch/awesome-scientific-guides/",
    "aliveStatusCodes": [0, 200, 206],
    "ignorePatterns" : [
        { "pattern": "https://doi.org/10.1145/1519103.1519122" },
        { "pattern": "https://doi.org/10.1145/1273445.1273458" },
        { "pattern": "http://doi.org/10.1145/14947.14955" },
        { "pattern": "https://www.acm.org/publications/policies/artifact-review-and-badging-current" },
        { "pattern": "https://niklaselmqvist.medium.com/mistakes-reviewers-make-ce3a4c595aa2" },
        { "pattern": "https://ieeexplore.ieee.org/stamp/stamp.jsp*" },
        { "pattern": "https://www.reddit.com/r/PhD/?f=flair_name%3A%22Seeking%20advice-academic%22" }
    ]
}