body[data-md-color-scheme="default"] .theme-aware-logo source {
    srcset: url("media/logo.png");
}
body[data-md-color-scheme="default"] .theme-aware-logo img {
    content: url("media/logo.png");
}
body[data-md-color-scheme="slate"] .theme-aware-logo source {
    srcset: url("media/logo-dark.png");
}
body[data-md-color-scheme="slate"] .theme-aware-logo img {
    content: url("media/logo-dark.png");
}