body[data-md-color-scheme="default"] .theme-aware-logo source {
    srcset: url("assets/logo.png");
}
body[data-md-color-scheme="default"] .theme-aware-logo img {
    content: url("assets/logo.png");
}
body[data-md-color-scheme="slate"] .theme-aware-logo source {
    srcset: url("assets/logo-dark.png");
}
body[data-md-color-scheme="slate"] .theme-aware-logo img {
    content: url("assets/logo-dark.png");
}

#refs {
    counter-reset: bib-counter;
}

#refs > div[role=doc-biblioentry] {
    counter-increment: bib-counter;
    margin-bottom: 1em;
    padding-left: 3em;
    position: relative;
}

#refs > div[role=doc-biblioentry]::before {
    content: "[" counter(bib-counter) "] ";
    position: absolute;
    left: 0; 
    color: #555;
}