body[data-md-color-scheme="default"] .theme-aware-logo source {
    srcset: url("assets/logo.png");
}
body[data-md-color-scheme="default"] .theme-aware-logo img {
    content: url("assets/logo.png");
}
body[data-md-color-scheme="slate"] .theme-aware-logo source {
    srcset: url("assets/logo-dark.png");
}
body[data-md-color-scheme="slate"] .theme-aware-logo img {
    content: url("assets/logo-dark.png");
}

#refs > div a{
    font-size: 90%;
    display: inline;
    overflow-wrap: anywhere;
    word-break: break-word;
}

#refs .csl-left-margin {
    display: inline-block;
    width: 3em;
    float: left;
    color: #555;
}

#refs .csl-right-inline{
    margin-bottom: 0.7em;
    padding-left: 3em;
    position: relative;
}